body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: grid;
  gap: 1em;
  grid-template-areas:
    'a a b'
    'a a c'
    'a a d';
  justify-content: center;
  align-items: stretch;
  height: 90%;
}

#pieChartWrapper {
  align-self: stretch;
  grid-area: a;
}

#barChartWrapper {
  grid-area: b;
}

#lineGraphWrapper {
  grid-area: c;
}

#lineChartWrapper {
  grid-area: d;
}

.card {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

